.btn{
    margin-top:5px;
}

#new-venue-form input{
    width:100%;
    margin-bottom:10px;
}

#venue-list, #band-list{
    list-style-type:none;
    padding:0px;
}

#venue-list > li, #band-list > li{
    padding:5px 10px;
    background:#EDEDED;
    margin-bottom:2px;
}

#gig-list{
    list-style-type:none;
    padding:0px;
}

#gig-list li h4{
    margin:0px;
}

#gig-list li{
    margin-bottom:10px;
    padding:10px;
    background:#EDEDED;
}

.gig-options{
    margin-top:10px;
}

.band-options{
    margin-top:10px;
}

.venue-options{
    margin-top:10px;
}

.venue-static-image{
    width:100%;
    margin-bottom:10px;
}

#article-body{
    resize: none;
    height:400px;
}

#create-news-form{
    margin-top:10px;
}

#create-article-button{
    margin-top:10px;
}

#news-list{
    list-style-type:none;
    padding:0px;
    max-height:800px;
    overflow:auto;
}

#news-list li h4{
    margin:0px;
}

#news-list li{
    margin-bottom:10px;
    padding:10px;
    background:#EDEDED;
}

.title-input{
    margin-bottom:15px;
    display:inline-block;
    width:100%;
}

#banner-upload-form{
    padding:10px;
    background:rgba(0,0,0,0.1);
    margin-bottom:5px;
    margin-top:5px;
    border-radius:4px;
}

#avatar-upload-form{
    padding:10px;
    background:rgba(0,0,0,0.1);
    margin-bottom:5px;
    border-radius:4px;
}

.additional-preview{
    margin-top:20px;
    padding:5px;
    border:1px solid rgba(0,0,0,0.1);
}

.additional-preview img{
    width:100%;
    background:#4D4D4D;
    padding:5px;
}

.color-brick{
    border-radius:4px;
    margin-left: 4px;
    margin-right: 4px;
}

.color-brick::after{
    content: ' ';
    height: 16px;
    width: 16px;
    display: inline-block;
}

#band-additional .alert{
    width:100%;
}

#additional-about-body{
    resize: none;
    height:300px;
    margin-bottom:20px;
    width:100%;
}

#about-editor{
    background: rgba(0,0,0,0.1);
    display:inline-block;
    width:100%;
    margin-top:5px;
    padding-top:10px;
    padding-bottom:10px;
}

#band-additional #preview{
    border: 1px solid white;
    min-height:15px;
    padding:10px;
}

.venue-logo{
    padding:20px;
    background:#f5f5f5;
    border:1px solid #ddd;
    border-radius:4px;
    margin-bottom:10px;
}

.venue-logo img{
    width:100%;
}

.stats-table td{
    font-size:1.8rem;
}

.stats-table td:first-child{
    text-align: right;
    padding-right:10px;
}

.stats-table td:nth-child(2){
    font-weight:bold;
}



/*
    Music Manager
*/

#vital-statistics{
    padding:20px;
    background:#f5f5f5;
    border:1px solid #ddd;
}

.latest-uploads-wrapper{
    text-align: left;
    background:#f5f5f5;
    border:1px solid #ddd;
    padding:20px;
    margin:0px;
    margin-bottom:20px;
}

.latest-uploads-wrapper:last-child{
    margin-bottom:0px;
}


/*
    Album Stuff
*/

.albums-wrapper{
    text-align: center;
}

.album-wrapper{
    position: relative;
    display:inline-block;
    margin:10px;
    width:auto;
}

.album-wrapper img{
    position: relative;
    width:200px;
    height:200px;
}

.album-wrapper p{
    position: absolute;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 10px 10px;
    background: rgba(0,0,0,0.6);
    font-weight: 300;
    font-size: 2.2rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

.album-wrapper i{
    font-size:44px;
    position: absolute;
    top:5px;
    left:5px;
    margin:0px;
}

.album-wrapper i.public{
    color:#69D651;
}

.album-wrapper i.private{
    color:#DD5252;
}

/*
    Song Stuff
*/

.song-title span{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}

.song-title .private{
    background: #DD5252;
}

.song-title .public{
    background:#69D651;
}

.songs-wrapper ul{
    padding:0px;
}

.songs-wrapper li{
    list-style-type:none;
}

.songs-wrapper > ul > li{
    background:#f5f5f5;
    display:inline-block;
    width:100%;
    padding:5px;
}

.songs-wrapper ul li > div{
    padding:0px;
}

.songs-wrapper audio{
    width:160px;
    background:#f5f5f5;
    vertical-align: top;
}

.songs-wrapper h4{
    margin:0px;
    font-size:2.2rem;
    padding-left:10px;
    margin-top: 3px;
    border-left:2px solid black;
}

.songs-wrapper h4.no-border{
    border-left:0px;
}

.songs-wrapper ul li ul{
    display:inline-block;
    vertical-align: top;
    padding:0px;
    text-align: left;
}

.songs-wrapper ul li ul li{
    list-style-type:none;
    display:inline-block;
    margin-left:3px;
    margin-right:3px;
}

.song-album-teaser{
    width:32px;
}

.song-in-album img{
    width:128px;
    height:128px;
    display:inline-block;
}

.songs-in-album{
    text-align: left;
    background:#f5f5f5;
    border:1px solid #ddd;
    padding:20px;
    margin:0px;
}

.songs-in-album h4{
    margin:0px;
    margin-bottom:20px;
}

.songs-in-album li{
    display:inline-block;
    list-style-type:none;
}

.songs-in-album-wrapper{
    margin-top:20px;
}

.song-listener{

}

.no-left{
    padding-left:0px;
}

.song-audio-wrapper{
    background:#f5f5f5;
    border:1px solid #ddd;
    display:inline-block;
    padding:10px;
    width:100%;
    margin-top:20px;
}

.song-audio-wrapper:first-child{

}

.song-audio-wrapper audio{
    display:inline-block;
    width:100%;
    background:#f5f5f5;
}

.song-edit{
    margin-top:20px;
    background:#f5f5f5;
    border:1px solid #ddd;
    padding:10px;
    display:inline-block;
    width:100%;
}

.other-works{
    margin-top:20px;
    background:#f5f5f5;
    border:1px solid #ddd;
    padding:10px;
    display:inline-block;
    width:100%;
}

.other-works ul,.latest-uploads-wrapper ul{
    padding:0px;
}

.other-works ul li,.latest-uploads-wrapper ul li{
    list-style-type:none;
    display:inline-block;
    width:100%;
}

.other-works ul > li,.latest-uploads-wrapper ul > li{
    background:#DDDDDD;
    padding:5px;
}

.other-works ul li audio,.latest-uploads-wrapper ul li audio{
    width:160px;
    display:inline-block;
    vertical-align: top;
}

.other-works ul li > a,.latest-uploads-wrapper ul li > a{
    display:inline-block;
}

.other-works ul li a h4,.latest-uploads-wrapper ul li a h4{
    margin:0px;
    margin-top:5px;
    margin-left:15px;
    display:inline-block;
}

.latest-uploads-wrapper .album-upload{
    display:inline-block;
    width:20%;
}

.latest-uploads-wrapper .album-upload img{
    width:100%;
}

.song-lister{
    padding:0px;
}

.song-lister li{
    list-style-type:none;
    margin-bottom:10px;
    font-size:2rem;
    font-weight:300;
}

.song-lister li > div {
    background:#f5f5f5;
    display:block;
    padding-left:15px;
    padding-right:15px;
    border:1px solid #ddd;
}

.song-lister li .fa{
    cursor:pointer;
    font-size:16px;
}

.song-lister li .fa:hover{
    opacity:0.7;
}

.song-lister .public{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: inline-block;
    background:#69D651;
    vertical-align: top;
    margin-top: 4px;
}

.song-lister .private{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: inline-block;
    background: #DD5252;
    vertical-align: top;
    margin-top: 4px;
}

.album-title{

}

.album-title span{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: inline-block;
    margin-top: -4px;
    vertical-align: middle;
}

.album-title .private{
    background: #DD5252;
}

.album-title .public{
    background:#69D651;
}

.album-title img{
    width:64px;
}

.album-privacy-wrapper{
    display:inline-block;
    width:100%;
    margin-top:20px;
}

.song-privacy-wrapper{
    display:inline-block;
    width:100%;
    margin-top:20px;
}


.private-text{
   color:#DD5252;
}

.public-text{
    color:#69D651;
}

.other-config{
    padding:20px;
    background:#f5f5f5;
    border:1px solid #ddd;
}

.other-config h4{
    margin:0px;
}

.other-config h4 button{
    vertical-align: top;
    display:inline-block;
    margin-left:15px;
    margin-top:-7px;
}

.other-config p{
    margin:0px;
}

.other-config > div{
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #ddd;
}

.other-config > div .config-avatar{
    display:inline-block;
    vertical-align: top;
    width:32px;
    height:32px;
    margin-right:10px;
}

.other-config > div p:last-child{
    line-height: 30px;
}

.other-config.active{
    border:1px solid #69D651;
}



