.alert{
    width:350px;
    margin:auto;
    color: red;
    font-weight: 700;
    text-align: left;
}

#new-venue-form input{
    width:100%;
    margin-bottom:10px;
}

#venue-list, #band-list{
    list-style-type:none;
    padding:0px;
}

#venue-list > li, #band-list > li{
    padding:5px 10px;
    background:#EDEDED;
    margin-bottom:2px;
}

#gig-list{
    list-style-type:none;
    padding:0px;
}

#gig-list li h4{
    margin:0px;
}

#gig-list li{
    margin-bottom:10px;
    padding:10px;
    background:#EDEDED;
}

.gig-options{
    margin-top:10px;
}

.band-options{
    margin-top:10px;
}

.venue-options{
    margin-top:10px;
}

.venue-static-image{
    width:100%;
    margin-bottom:10px;
}

#article-body{
    resize: none;
    height:400px;
}

#create-news-form{
    margin-top:10px;
}

#create-article-button{
    margin-top:10px;
}

#news-list{
    list-style-type:none;
    padding:0px;
    max-height:800px;
    overflow:auto;
}

#news-list li h4{
    margin:0px;
}

#news-list li{
    margin-bottom:10px;
    padding:10px;
    background:#EDEDED;
}

.title-input{
    margin-bottom:15px;
    display:inline-block;
    width:100%;
}